/* Шрифт */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800;900&display=swap");

/* Сброс */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* Страница */
body {
    background: #050505;
    color: #d4c096;
    font-family: "Cinzel", serif;
    text-align: center;

    user-select: none;
    -webkit-user-select: none;
}

/* Главный экран */
.page {
    min-height: 100vh;
    padding-top: 20px;
    overflow: hidden;
}

/* Лого */
.logo {
    width: 420px;
    height: 300px;
    margin: 0 auto 10px;

    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    pointer-events: none;
}

/* Блок текста */
.message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;

    position: relative;
    z-index: 2;
}

/* WEBSITE UNDER CONSTRUCTION */
.small-title {
    margin: 0 0 18px;

    font-size: 24px;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* FIRST COLLECTION DROPS THIS FALL */
.main-title {
    margin: 0 0 24px;

    font-size: 48px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.15;
    text-transform: uppercase;
}

/* Слоган */
.slogan {
    margin: 0;

    font-size: 30px;
    font-weight: 900;
    line-height: 1.35;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* Нижние картинки */
.bottom-images {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: -180px;
    padding: 0;

    position: relative;
    z-index: 1;
}

/* Общие настройки картинок */
.bottom-image {
    width: 820px;
    height: 820px;

    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    pointer-events: none;
}

/* Левая картинка */
.image-left {
    margin-left: -160px;
    background-image: url("image-1.png");
}

/* Правая картинка */
.image-right {
    margin-right: -160px;
    background-image: url("image-2.png");
}

/* Телефон */
@media (max-width: 700px) {
    .page {
        padding-top: 20px;
    }

    .logo {
        width: 320px;
        height: 220px;
        margin-bottom: 5px;
    }

    .message {
        padding: 0 18px;
    }

    .small-title {
        font-size: 15px;
        letter-spacing: 3px;
        margin-bottom: 14px;
    }

    .main-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .slogan {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .bottom-images {
        margin-top: -70px;
    }

    .bottom-image {
        width: 64vw;
        height: 64vw;
    }

    .image-left {
        margin-left: -20vw;
    }

    .image-right {
        margin-right: -20vw;
    }
}
